# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages
- list popular libraries
- list popular tools
- create tables
- create ordered lists

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include::
1. Pandas
2. NumPy
3. MAtLib

|Data Science Tools|
|------------------|
|Apache Spark|
|Hadoop|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Abdullah Javed